<div id="app-nav">

    <nav class="navbar navbar-expand-md navbar-light bg-light ">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarNav">
            <ul class="navbar-nav justify-content-center flex-grow-1">
                <li class="nav-item mx-5">
                    <a class="nav-link"
                       routerLink="schedule"
                       routerLinkActive="active">Schedule</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link"
                       routerLink="meals"
                       routerLinkActive="active">Meals</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link"
                       routerLink="workouts"
                       routerLinkActive="active">Workouts</a>
                </li>
            </ul>
        </div>
    </nav>

</div>